{% load static %}

<!doctype html>
<html lang="es-ar">

<head>
  <title>{% block title %} Página de
    inicio {% endblock title %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <header>
    <!-- place navbar here -->
    <a class="flex-sm-fill text-sm-center nav-link active" href="#">
        <img src="{% static 'img/info.png' %}" style="max-width: 300px; margin: 30px;">
    </a>

    <ul class="nav-links">
      <li><a href="{% url 'index' %}">Inicio</a></li>
      <li><a href="#">Acerca de Nosotros</a></li>
      <li><a href="{% url 'apps.posts:posts' %}">Posts</a></li>
      <li><a href="{% url 'apps.contacto:contacto' %}">Contacto</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'apps.usuario:logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'apps.usuario:login' %}">Login</a></li>
      {% endif %}
    </ul>
    
  </header>

    {% block contenido %}
    
    {% endblock %}

  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>